!!! Colors

!!! Gruvbox

*background: #1d2021
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2

!!! Horizon

!*background: #1c1e27
!*foreground: #cacacc
!! Black + DarkGrey
!*color0:  #6c6f93
!*color8:  #6c6f93
!! DarkRed + Red
!*color1:  #e4436f
!*color9:  #e4436f
!! DarkGreen + Green
!*color2:  #24e39d
!*color10: #24e39d
!! DarkYellow + Yellow
!*color3:  #eda685
!*color11: #eda685
!! DarkBlue + Blue
!*color4:  #00a5af
!*color12: #00a5af
!! DarkMagenta + Magenta
!*color5:  #b367cf
!*color13: #b367cf
!! DarkCyan + Cyan
!*color6:  #00a5af
!*color14: #00a5af
!! LightGrey + White
!*color7:  #cacacc
!*color15: #cacacc


!! URxvt Appearance
URxvt.font: xft:firacode:style=Regular:size=8,xft:fontawesome:pixelsize=10
URxvt.boldFont: xft:firacode:style=Regular:size=8,xft:fontawesome:pixelsize=10
URxvt.italicFont: xft:firacode:style=Regular:size=8,xft:fontawesome:pixelsize=10
URxvt.boldItalicFont: xft:firacode:style=Regular:size=8,xft:fontawesome:pixelsize=10
URxvt.transparent: false
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 10
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.iso14755: false
URxvt.letterSpace: 0
*.antialias:  true
*.autohint:   true

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,resize-font
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: qutebrowser
URxvt.underlineURLs: true
URxvt.keysym.C-plus:     perl:resize-font:bigger
URxvt.keysym.C-minus:    perl:resize-font:smaller
URxvt.keysym.C-equal:    perl:resize-font:reset
URxvt.keysym.C-question: perl:resize-font:show
